/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/



.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--normal-font-weight);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-size: var(--normal-font-size);
}

.header {
  font-family: var(--accent-font), sans-serif;
  background-color: var(--header-bg-color);
  inline-size: var(--header-width);
  block-size: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  border: 2px solid var(--bordered-color);
}

.logo {
  inline-size: clamp(21.438rem, 10.516vw + 18.973rem, 28.438rem);
  display: grid;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  text-transform: uppercase;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  justify-self: center;
}

.cards__list {
  display: grid;
  gap: 50px;
}

.card {
  background-color: var(--card-bg-color);
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  height: 100%;
  display: grid;
  border: 2px solid var(--bordered-color);
}

.card__title {
  font-size: var(--normal-font-size);
  padding: 5px 10px 4px 10px;
  line-height: 21.78px;
}

.image__container {
  position: relative;
  height: 100%;
  border: 2px solid #000;
}

.html__label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  text-shadow: -1px 0 var(--text-stroke-color), 
                0 1px var(--text-stroke-color), 
                1px 0 var(--text-stroke-color), 
                0 -1px var(--text-stroke-color);
  color: var(--label-color);
  top: 25px;
  right: clamp(0.813rem, 1.127vw + 0.548rem, 1.563rem);
  font-size: var(--small-font-size);
  line-height: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .html__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.text {
  display: grid;
  gap: 27px;
  line-height: 21px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 6px;
  block-size: 38px;
}

button {
  background-color: transparent;
}

.button {
  position: relative;
  overflow: auto;
  border: 2px solid var(--bordered-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  transition: box-shadow .3s ease;
}

.button:hover::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--buton-hover-color);
  width: 100%;
  height: 100%;
  animation: buttonBgSwitch .5s ease-in-out;
}

.card__like-button {
  min-width: 130px;
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--small-font-size);
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button {
  padding: 0;
  display: flex;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.contour {
  fill: var(--heart-contour-color, #000);
  transition-duration: 0.1s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color, #000);
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: var(--heart-main-color, #ff0000);
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color, #000); 
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color, #ff0000); 
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color, #ff0000);
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color, #ff0000); 
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color, #ff0000);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparksOpacitySwitch 0.3s ease-in alternate;
  animation-delay: 0.3s;
}

.is-liked .heart {
  animation: heartScaleUp 0.3s ease-in alternate;
  animation-delay: 0.1s;
  transform-origin: center;
}

.image__filter-saturate {
  filter: saturate(200%);
}

.image__filter-sepia {
  filter: sepia(0.6);
}

.image__filter-brightness-invert {
  filter: brightness(200%) invert(100%);
}

.image__filter-opacity {
  filter: opacity(0.7);
}

.image__filter5-hue-rotate {
  filter: hue-rotate(0.2turn);
}

.image__filter-grayscale {
  filter: grayscale(1);
}

.image__filter-invert-hue-rotate {
  filter: invert(100%) hue-rotate(0.9turn);
}

.image__filter-contrast-hue-rotate {
  filter: contrast(250%) hue-rotate(0.5turn); 
}

.save__button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 8px;
  padding: 15px 21px 15px 19px;
  margin-block-start: 50px;
  margin-block-end: 103px;
  background-color: var(--save-bg-color, #fff);
}

.save__button svg {
  width: 21px;
  stroke: #fff;
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog__window {
  position: fixed;
  inset: 0;
  block-size: max-content;
  padding: 30px;
  min-width: 351px;
}

.dialog__window svg {
  width: 39px;
}

.dialog__window[open] .dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font);
  width: clamp(12.375rem, 3.38vw + 11.583rem, 14.625rem);
  font-size: var(--small-font-size);
  line-height: 21px;
  text-transform: uppercase;
}

.confirm__button {
  display: flex; 
  justify-self: center;
  justify-content: center;
  margin-block-start: 30px;
  padding-block: 12.5px 8px;
  inline-size: 100%;
  text-transform: uppercase;
}

.dialog__window[open]::backdrop {
  backdrop-filter: brightness(25%);
}

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  .dialog__window {
    border-width: 2px;
    min-width: 341px;
  }

  .card {
    width: 100%;
  }

  .save__button {
    display: grid;
    justify-items: center;
    margin-block-end: 100px;
  }

  .save__button svg {
    width: 28px;
  }
}




