/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter;
  --accent-font: 'PressStart2P';
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --header-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --header-height: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  --heart-contour-color: #000;
  --heart-main-color: #ff0000;
}